/* YOUR CUSTOM CSS */
.logo-open{
    font-weight: 900;
    color: white;
    font-size: 32px;
}

.v-v-medecine {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .v-v-medecine li {
    display: inline-block;
    min-width: 5em;
    margin: 0 0.5em;
  }
  .v-v-medecine a {
    text-decoration: none;
    display: block;
    font-family:Arial;
    position: relative;
    color: black;
    padding:.5em 0
  }
